
.search-container-1 {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .search-box-1 {
      display: flex;
      height: 25px;
      align-items: center;
      border: 1px solid #f96616;
      border-radius: 4px;
      padding: 2px;
      background-color: transparent;
      position: relative;
      left: 55rem;
      top: -950px;
  }
  
  .search-icon-1 {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  #searchInput-1 {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 10px;
    outline: none;
  }
  
  #searchInput-1::placeholder {
    color: #aaa;
  }
  
  #searchInput-1::selection {
    background: transparent; 
    color: inherit;
  }
  
  .results-1 {
    margin-top: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    display: none; /* Muestra los resultados dinámicamente */
  }
  
  .results-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .results-1 ul li {
    padding: 4px 8px;
    border-bottom: 1px solid #eee;
  }
  
  .results-1 ul li:last-child {
    border-bottom: none;
  }
  
  