.empty-message {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 2rem;
}

.title-saved{
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 18rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.button_conta {
  position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f96616;
    border: 1px solid #f96616;
    border-radius: 5px;
    cursor: pointer;
    left: 81rem;
    top: 7.5%;
}

.expand_button {
  /* position: relative;
  background-color: #f96616;
  border: none;
  cursor: pointer; */
  top: -200px;
  left: 630px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}

.expand_btn img {
  width: 30px;
  height: 30px;
  justify-content: end;
  background-color: #f96616;
  /* border: 1px solid #f96616; */
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  padding: 2px;
  left: -1px;
  top: -1px;
  cursor: pointer;
}

.card-body {
  padding: 1rem;
}

.delete-button {
  margin-top: 1rem;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c0392b;
}

.clear-button-container {
  text-align: center;
  margin-top: 2rem;
}

.clear-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #2980b9;
}