.title-4 {
    color: #2C3E50;
    font-size: 25px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.option {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    margin-left: 40px;
    /* width: 80%; */
    /* background-color: rgb(211 211 211 / 24%); */
    border-radius: 9px;
    padding: 5px;
    /* gap: 20px; */
    justify-content: space-between;
}

.fecha {
    color: #2C3E50;
    font-size: 18px;
    /* text-align: right; */
    padding: 0 2%;
    margin-right: 13rem;
    /* border: 0.2px solid #757575b3; */
    border-radius: 5px;
    /* background-color: rgba(117, 117, 117, 1.2); */
    background-color: rgb(211 211 211 / 24%);
    justify-self: left;
}

.n-compra {
    color: #2C3E50;
    font-size: 18px;
    /* text-align: right; */
    padding: 0 24% 0 2%;
    margin-right: 2rem;
    /* border: 0.2px solid #f96616; */
    border-radius: 5px;
    background-color: rgb(211 211 211 / 24%);
    justify-self: right;
}

