
.page-wrapper p {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 43px;
}

.navbar-nav {
    flex-grow: 1;
    /* display: flex;
    justify-content: flex-end; */
}

.py-2 {
    width: 100%;
    height: 40px;
    background-color: #f96616;
    border: none;
    outline: none;
    transition: none;
    align-items: end;
}

.product-card {
    border-radius: 10px;
    border: 2px solid #f96616;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    margin-left: 20px;
}

.product-card:hover {
    border: 4px solid rgb(249, 101, 21, 0.8);
}

.p-3 {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.image-container img {
    width: 170px;
    height: auto;
}

.card-body {
    padding: 16px 0px 16px 16px;
    text-align: center;
    border-top: 2px solid #f96616;
    background-color: rgb(249, 102, 22, 0.09);
}

.card-text h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;
    color: black;
    margin-right: 10px;
}

.card-text h2 {
    font-size: 1.25rem;
    color: black;
    text-align: left;
}

.card-text h3 {
    font-size: 1rem;
    color: black;
    text-align: left;
}


@media screen and (max-width: 1300px) {
    .navbar-nav {
        flex-grow: 1;
        /* display: flex;
        justify-content: flex-end; */
    }

}