/* .menuToggle img {
  top: 220px;
}

.menu {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 155px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
}

.menu {
  cursor: pointer;
}

.offcanvas-body {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: -0px;
  left: -100px;
  background-color: rgb(249, 102, 22, 0.7);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
} */










.menuToggle {
  position: relative;

}


.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 220px; 
  left: 20px; 
  z-index: 1001;
}

.dropdown-menu {
  position: absolute;
  top: 20px; 
  /* left: 20px;  */
  background-color: rgb(249, 102, 22, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  padding: 10px 0 0;
  /* border-radius: 5px; */
  display: none; 
  flex-direction: column;
  z-index: 1000;
  min-width: 150px; 
}


.dropdown-menu.show {
  display: flex; 
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}



/* .navbar-nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */
